@import "swiper/swiper-bundle.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-app-gradient {
        @apply bg-gradient-to-r from-secondary to-primary
    }

    button, .btn {
        @apply text-center px-5 py-2 lg:px-10 lg:py-[10px] text-white bg-gradient-to-r from-secondary to-primary text-[14px] lg:text-[16px]
        inline-block hover:brightness-110
    }
}

body {
    margin: 0;
    @apply font-sans text-[20px]
}

.container {
    @apply px-10 lg:px-16 
}

/* CSS For custom header */
#header {
    @apply text-white;
}

#header.has-background .main-logo {
    @apply hidden;
}

#header.has-background .alternative-logo {
    @apply block lg:mx-20 mx-8;
}

#header.has-background {
    @apply bg-white text-black shadow-lg;
}

#header.has-background .menu li {
    @apply bg-white;
}
#header.has-background .menu li:hover {
    @apply bg-[#C4E1F5];
}

#header .menu > a:hover {
    @apply border-white border-b-2;
}

#header.has-background .menu > a:hover {
    @apply border-primary border-b-2;
}

#header .menu > a.active {
    @apply border-white border-b-2;
}

#header.has-background .menu > a.active {
    @apply border-primary border-b-2;
}

#header.has-background svg path {
    fill: #000 !important;
}

#header.has-background li a{
    @apply text-black ;
}

/* custom css for pagination */

.pagination {
    @apply flex justify-center space-x-4
}
.pagination > .current {
    @apply border-b-2 border-primary text-primary justify-center
}
.pagination > a, .pagination > span {
    flex-shrink: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 30px;
}
.pagination .next, .pagination .prev {
    @apply text-primary
}